{% extends "base.html" %}
{% load property_tags %}
{% block pageTitle %}Home{% endblock %}
{% block pageContent %}
<div id="page-banner">
    {% homepage_slider %}
    <!--<h1>Matching the <span>right property</span> to the <span>right people</span></h1>-->
    {% comment %}<div id="home-search">
        {% include "searchtabs.htm" %}
    </div>
    {% endcomment %}
</div>
<div id="featured-properties">
	{% for property in featured %}
	<div id="featured-property-{{ property.id }}" class="featured">
        <div class="featured-image">
	            <a href="property/{{property.id}}" title="View Property">
            	{% for photo in property.image_gallery.photos.all %}
	        		{% if forloop.revcounter == 1 %}
	        			<img src="{{ photo.image.url }}" alt="Property {{property.id}} Image" />
	    			{% endif %}
    			{% empty %}
	    			<img src="{{media_url}}images/ui2/temp_property.jpg" alt="Temp Property Image" /> 
    			{% endfor %}
	            </a>
        </div>
        <div class="featured-details">
            <h3>Featured Property</h3>
            <div class="details-info">
                <div class="info-bed">
                    <span>{{property.rooms}}</span>
                </div>
                <div class="info-bath">
                    <span>{{property.bathrooms}}</span>
                </div>
                <div class="info-ref">
                    <span>MC-{{property.id}}</span>
                </div>
            </div>
            <div class="details-more-info">
                <div class="more-info-name">
                    <a href="property/{{property.id}}" title="View Property">
                    	{{property.house}} {{property.street}}, {{property.city}} {{property.postcode}}
                    </a>
                </div>
                <div class="more-info-price">
                	
                	{% if property.sale_type == "LE" %}
                		(PCM)
                	{% endif %}
                    {{property.price}}
                </div>
                <div class="more-info-text">
                    {{property.property_desc}}
                </div>
                <div class="more-info-more">
                    <a href="property/{{property.id}}" title="Read More"></a>
                </div>
            </div>
        </div>
    </div>
	{% endfor %}
</div>
<div id="call-to-actions">
    <div class="actions left">
        <h3>Available Residential Property</h3>
        <div class="actionimage">
            <img src="{{MEDIA_URL}}/images/cta_residential_image.png" alt="Available Residential Property" />
        </div>
        <div class="actiontext">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, clectus pulvinar.
                <a href="./residential" title="View Residentail List">View List&hellip;</a>
            </p>
        </div>
    </div>
    <div class="actions right">
        <h3>Maintenance</h3>
        <div class="actionimage">
            <img src="{{MEDIA_URL}}/images/cta_maintenance_image.png" alt="Maintenance" />
        </div>
        <div class="actiontext">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, clectus pulvinar.
                <a href="./maintenance" title="View Maintenance">View List&hellip;</a>
            </p>
        </div>
    </div>
    <div class="actions center">
        <h3>Available Commercial Property</h3>
        <div class="actionimage">
            <img src="{{MEDIA_URL}}/images/cta_commercail_image.png" alt="Available Commercial Property" />
        </div>
        <div class="actiontext">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, clectus pulvinar.
                <a href="./commercial" title="View Residentail List">View List&hellip;</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}