<div id="menu">
    <ul>
        <li><a id="home" href="/">Home</a></li>
        <li><a id="residential" href="/residential">Residential</a></li>
        <li><a id="commercial" href="/commercial">Commercial</a></li>
        <li><a id="maintenance" href="/maintenance">Maintenance</a></li>
        <li><a id="about" href="/about">Meet the Team</a></li>
        <li><a id="purplestandard" href="/purplestandard">Purple Standard</a></li>
        <li><a id="services" href="/services">Services</a></li>
        <li><a id="news" href="/news">News</a></li>
        <li><a id="contact" href="/contact">Contact</a></li>
    </ul>
</div>